
@model QLBanHangDemo.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "Page_layout";

}


<div class="container-fluid">

    <div class="row">
        <div class="col-md-8 offset-md-2">

            <!-- Register Content -->
            <div class="account-content">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 col-lg-6 login-left">
                        <img src="~/AssetsPage/img/login-banner.png" class="img-fluid" alt="Doccure Register">
                    </div>
                    <div class="col-md-12 col-lg-6 login-right">
                        <div class="login-header">
                            <h3>Đăng Ký</h3>
                        </div>

                        <!-- Register Form -->
                        <form asp-action="Regiter">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group form-focus">
                                <input asp-for="Email" type="email" class="form-control floating">
                                <label asp-for="Email" class="focus-label">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group form-focus">
                                <input asp-for="Password" type="password" class="form-control floating">
                                <label asp-for="Password" class="focus-label">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <div class="form-group form-focus">
                                <input asp-for="ConfirmPassword" type="password" class="form-control floating">
                                <label asp-for="ConfirmPassword" class="focus-label">Nhập lại Password</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="text-right">
                                <a class="forgot-link" href="login.html">Already have an account?</a>
                            </div>
                            <input class="btn btn-primary btn-block btn-lg login-btn" type="submit" value="Đăng Ký">
                            <div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">or</span>
                            </div>
                            <div class="row form-row social-login">
                                <div class="col-6">
                                    <a asp-controller="PageProduct" asp-action="Login" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
                                </div>
                                <div class="col-6">
                                    <a asp-controller="PageProduct" asp-action="Login" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
                                </div>
                            </div>
                        </form>
                        <!-- /Register Form -->

                    </div>
                </div>
            </div>
            <!-- /Register Content -->

        </div>
    </div>

</div>
