@model QLBanHangDemo.Models.Customers

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Customers</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" asp-for="CustomersName">Customer Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" asp-for="CustomersName">
                        </div>
                        <span asp-validation-for="CustomersName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" asp-for="CustomersEmail">Customer Address</label>
                        <div class="col-md-10">
                            <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here" asp-for="CustomersEmail"></textarea>
                        </div>
                        <span asp-validation-for="CustomersEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" asp-for="CustomersPhone">Customer Phone</label>
                        <div class="col-md-10">
                            <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here" asp-for="CustomersPhone"></textarea>
                        </div>
                        <span asp-validation-for="CustomersPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
